@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta a barra mas mantém a rolagem */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}
